<h1>EVENTS</h1>
<hr>
<br>

<h3>Where we'll be presenting:</h3>
    <br>
<table>
    <tr>
<td><b>EVENT</b></td>	<td><b>LOCATION</b></td>	<td><b>DATE</b></td></tr>
<tr><td></td></tr>
<tr><td>NG-DE</td>	<td>Berlin, Germany</td>	<td>August 29th workshops, 30-31 conference, 2019</td></tr>
<tr><td></td></tr>
<tr><td>AngularConnect</td>	<td>London, UK</td>	<td>September 19-20, 2019</td></tr>
<tr><td></td></tr>
<tr><td>ReactiveConf</td>	<td>Prague, Czech</td> <td>Republic	October 30 - November 1, 2019</td></tr>
</table>