<h1>FEATURES</h1>
<br>
<h2>CROSS PLATFORM</h2>
<hr>

<h3>Progressive Web Apps</h3>
Use modern web platform capabilities to deliver app-like experiences. High performance, offline, and zero-step installation.

<h3>Native</h3>
Build native mobile apps with strategies from Cordova, Ionic, or NativeScript.
<br>
<h3>Desktop</h3>
Create desktop-installed apps across Mac, Windows, and Linux using the same Angular methods you've learned for the web plus the ability to access native OS APIs.
<br>
<br>
<h2>SPEED AND PERFORMANCE</h2>
<hr>
<h3>Code Generation</h3>
Angular turns your templates into code that's highly optimized for today's JavaScript virtual machines, giving you all the benefits of hand-written code with the productivity of a framework.
<br>
<h3>Universal</h3>
Serve the first view of your application on Node.js®, .NET, PHP, and other servers for near-instant rendering in just HTML and CSS. Also paves the way for sites that optimize for SEO.

<h3>Code Splitting</h3>
Angular apps load quickly with the new Component Router, which delivers automatic code-splitting so users only load code required to render the view they request.
<br>
<br>
<h2>PRODUCTIVITY</h2>
<hr>
<h3>Templates</h3>
Quickly create UI views with simple and powerful template syntax.

<h3>Angular CLI</h3>
Command line tools: start building fast, add components and tests, then instantly deploy.

<h3>IDEs</h3>
Get intelligent code completion, instant errors, and other feedback in popular editors and IDEs.
<br>
<br>
<h2>FULL DEVELOPMENT STORY</h2>
<hr>
<h3>Testing</h3>
With Karma for unit tests, you can know if you've broken things every time you save. And Protractor makes your scenario tests run faster and in a stable manner.

<h3>Animation</h3>
Create high-performance, complex choreographies and animation timelines with very little code through Angular's intuitive API.

<h3>Accessibility</h3>
Create accessible applications with ARIA-enabled components, developer guides, and built-in a11y test infrastructure.


