<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #99ccff;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ffccff;
    color: black;
  }
  
  .topnav a.active {
    background-color: #ff99ff;
    color: white;
  }
  </style>
  </head>
  <body>
<h1>Assignment2</h1>
<nav class="topnav">
  <a routerLink="/home" routerLinkActive="active">HOME</a>
  <a routerLink="/projects" routerLinkActive="active">PROJECTS</a>
  <a routerLink="/services" routerLinkActive="active">SERVICES</a>
  <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
</nav>
<router-outlet></router-outlet>
</body>